/* Common CSS */
body{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  width: 100%;
  max-width: 100%;
}
.h1{
   color:  #3a3838;
}
.lite-green {
    color: #8CBE45;
}
.green {
    color: #659524;
}
.gray{
   color: #969696; 
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.normal {
    font-weight: 500;
}

/* =============================== 
    Header Section css start 
   =============================== */
.menu-div{
    max-width: 100%;
    text-align: left;
    padding: 0px 100px;
    margin-top: 50px;
   
}
#menu {
    color : #6e6e6e;
    padding: 0px;
}
#menu li{
    list-style: none;
    margin-right: 30px;
    display: inline;
    font-size: 20px;
    cursor: pointer;
}
/* =============================== 
    First Section css start 
   =============================== */
.first-section{
    /* width: 100%; */
    margin:0 auto;
    display: flex;
    padding: 0px 100px;
}
.first-section div{
    width: 45%;
}

.skip-header{
    font-size: 70px;
}
.btn{
    background: linear-gradient(45deg, #b3cf8b, #76b321);
    color: white;
    padding: 25px 50px;
    font-size: 22px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
/* =============================== 
    Second Section css start 
   =============================== */
.second-section{
    max-width: 100%;
    margin:0 auto;
    display: flex;
    padding: 0px 100px;
    background: url(images/shapes/bg1.png);
    background-size: cover;
}
.second-section div{
    width: 50%;
}
.about-img-p{
    margin-bottom: 0px;
    padding-top: 50px;
}
.about-img-p img{
    margin-bottom: -7px;
}
.second-header{
    font-size: 46px;
    color: #707070;
}
.second-section-para{
    font-size: 24px;
    padding:0px 80px 60px 0px;
}