/* Common CSS */
body{
  font-family: 'Poppins', sans-serif;
}
.h1{
   color:  #6e6e6e;
}
.lite-green {
    color: #8CBE45;
}
.green {
    color: #659524;
}
.gray{
   color: #969696; 
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.normal {
    font-weight: 400;
}
/* =============================== 
    First Section css start 
   =============================== */
.first-section{
    width: 100%;
    margin:50px auto;
    display: flex;
    padding: 0px 100px;
}
.first-section div{
    width: 45%;
}

.skip-header{
    font-size: 70px;
}
.btn{
    background: linear-gradient(45deg, #b3cf8b, #76b321);
    color: white;
    padding: 25px 50px;
    font-size: 22px;
    border: none;
    border-radius: 50px;
}